
<!DOCTYPE html>
<html data-static="false" data-offline="false" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" class="https "
      >
<head>

    <!-- Let Google know the page is loaded using Ajax -->
    <meta name="fragment" content="!">


    <title></title>

    <link type="image/x-icon" href="//www.emaze.com/favicon.ico" rel="shortcut icon" />
    <link rel="canonical" href="" />
    <meta name="fb:app_id" property="fb:app_id" content="427432107332992" />
    <meta name="og:type" property="og:type" content="article" />
    <meta name="og:url" property="og:url" content="" />
    <meta name="og:title" property="og:title" content="" />
    <meta name="og:site_name" property="og:site_name" content="emaze presentations" />
    <meta name="og:image" property="og:image" content="" />
    <meta name="og:description" property="og:description" content="" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="google-translate-customization" content="e21e12c151341ed1-332136384ced151b-gdabc0ec6d5bfba99-d" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="msapplication-tap-highlight" content="no" />


    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MPV9CG');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Le Style -->
    <link href="//resources.emaze.com/vbcommon/css/slide-deck.css?v=V4.0.227.637546142030000000" rel="stylesheet" />
    <link href="//resources.emaze.com/emaze-fonts/fonts.css?v=V4.0.227.637546142030000000" rel="stylesheet" />
    <link href="//resources.emaze.com/vbplayer/css/presentation-menu-popups.css?v=V4.0.227.637546142030000000" rel="stylesheet" />
    <link href="//resources.emaze.com/vbplayer/css/player-menu.css?v=V4.0.227.637546142030000000" rel="stylesheet" />
    <link href="//resources.emaze.com/vbplayer/css/presentation-menu-popups.css?v=V4.0.227.637546142030000000" rel="stylesheet" />

    <link href="//resources.emaze.com/vbplayer/css/player.css?v=V4.0.227.637546142030000000" rel="stylesheet" type="text/css" />
    <link href="//resources.emaze.com/vbplayer/css/player-desktop.css?v=V4.0.227.637546142030000000" rel="stylesheet" type="text/css" class="device" />

    <link href="//resources.emaze.com/vbcommon/css/animations.css?v=V4.0.227.637546142030000000" rel="stylesheet" />
    <link href="//resources.emaze.com/vbcommon/css/emaze.transitions_library.css?v=V4.0.227.637546142030000000" rel="stylesheet" />
    <link href="//resources.emaze.com/analytic/css/analytic-external.css?v=V4.0.227.637546142030000000" rel="stylesheet" type="text/css" />
    <link href="//resources.emaze.com/share/css/share-external.css?v=V4.0.227.637546142030000000" rel="stylesheet" type="text/css" />
    <link href="//resources.emaze.com/upgrade_popup/css/upgrade_popup.css?v=V4.0.227.637546142030000000" rel="stylesheet" type="text/css" />
    <script src="//resources.emaze.com/vbcommon/angular/v1.4.3/angular.min.js"></script>
    <script src="//resources.emaze.com/vbcommon/mainApp/mainApplication.js?v=V4.0.227.637546142030000000"></script>
    <!-- *** Library of React ***  -->
    <script src="//resources.emaze.com/vbcommon/react_v_15_4_2/react-with-addons.js"></script>
    <script src="//resources.emaze.com/vbcommon/react_v_15_4_2/react-dom.js"></script>
    <!-- *** Library of React ***  -->
    <!-- Facebook custom audiance pixel-->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1140455665965124');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1140455665965124&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->


</head>
<body ng-app="emazeApp">

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MPV9CG"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager -->
    <!-- Essential scripts for included partial views -->
    <script src="//resources.emaze.com/vbcommon/libs/jquery-1.7.2.min.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbcommon/plugins/jquery.cookie.js" type="text/javascript"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script>

        var EM = EM || {},//Namespace
            presentationId = '@AOIWFIOCR',//For now will set presentationID since other scripts counting on it (DEPRECIATED USE THE NAMESPACE VERSION PLEASE)
            username = "",// set in EM.player.sceneIsReady
            isPremium = "",// set in EM.player.sceneIsReady
            isLoggedIn = "",// set in EM.player.sceneIsReady
            environment = "//resources.emaze.com",//global string for environment
            resources = "//resources.emaze.com",//global string for resources
            emazeAppVersion = "V4.0.227.637546142030000000",// global string for version
            domainName = ".emaze.com",//Get the domain name
            pricingPageUrl = "//www.emaze.com/pricing2/pricing3/index.php?t=";//Get the pricing page url from server



    EM.presentationId = presentationId; //this should be the standard
    EM.playerSettings = {"isSettings":false,"checker":{"isSettingsBrand":false,"isSettingsHtmljs":false,"isSettingsSeo":false},"data":null,"CodeHeader":null,"CodeBody":null,"CurrentOptionId":0,"MetaTitle":null,"MetaDescription":null,"MetaKeywords":null,"MetaLanguage":null,"BrandCssUrl":null,"BrandJsUrl":null};
    EM.ezContentTypeId = 1;
    EM.themeId = '0';
    EM.isLayoutsPlayer =  false;
    EM.isWebsite = false;
    /* Added 08.03.2018 by Sergey for Website generator in LayoutsPlayer*/
    EM.activatemode = null;
    EM.useremail = null;
    EM.source = null;
    if (google) {
        google.load("visualization", "1", { packages: ['corechart', 'table', /*'geochart', 'treemap',*/ 'orgchart' /*, 'timeline'*/] });
    }

    </script>


    <!-- Loader -->
    <div id="player-loader">
        <div class="loadermask"></div>
        <div class="emazeloader">
            <p class="prepare-to-be-emazed">prepare to be emazed</p>
            <p class="prepare-to-be-gen">Creating your website,</p>
            <p class="prepare-to-be-gen2">it will only take a few seconds!</p>

        </div>
    </div>
    <script>
        //*****************************************
        var p = window.location.search;
        if (p != -1 && p.indexOf('redaolon') != -1) {
            $('.emazeloader').addClass('noloader');
        }
        //*****************************************
        //change loader and text for website generator EM.source
        //if (p != -1 && p.indexOf('username') != -1) {
        if (EM.source == "automaze") {
            $('.emazeloader').addClass('genloader');
        }
    </script>
    <!-- End of loader -->
    <div id="space-to-mobile-fs"></div>
    <div id="main-container">
        <!-- Start Big Block From Sergey -->
        <!-- emaze Logo & presentation info -->
        <a id="player-logo" href="//www.emaze.com?emazehome=1" target="_blank">
            <img src="" alt="emaze">
        </a>
        <div id="presentation-info">
            <p class="presentation-title"></p>
            <a class="presentation-author" target="_blank"></a>
        </div>

        <!-- Presentation -->
        <div id="sceneContainer">
            <div id="scene"></div>
        </div>
        <!-- End of presentation -->
        <!-- watermark independent of control panel -->
        <a href="//www.emaze.com" target="_blank" id="pl-watermark-indp" class="hidden"></a>

        <!-- Control Panel -->
        <div id="buttonsPanel">

            <a href="//www.emaze.com" target="_blank" id="pl-watermark" class="hidden"></a>

            <div id="slider">
                <div class="preview">
                    <div class="the-content slide-wrapper"></div>
                    <div class="section-name"></div>
                    <div class="slide-number"></div>
                    <div class="chupchik"></div>
                </div>
            </div>

            <button class="playButton player-button"></button>
            <button class="sectionsButton player-button"></button>
            <button class="fullscreenButton player-button"></button>
        </div>
        <!-- End of presentation -->

        <button class="leftButton">
            <span class="leftIcon player-button"></span>
        </button>
        <button class="rightButton">
            <span class="rightIcon player-button"></span>
        </button>

        <!-- End of Control Panel -->
        <!-- Side Menu -->
        <div id="menu-container">

            <div id="toggle">
                <span class="toggle menu-button"></span>
            </div>

            <div id="buttons" class="hidden">
                <span id="newshare-button" title="share">
                    <span class="share menu-button"></span>
                </span>

                <span id="analytic-button" title="Audience insights">
                    <span class="analytic menu-button"></span>
                </span>

                <div id="google_translate_element" title="translate"></div>

                <span id="print-button" title="print">
                    <span class="print menu-button"></span>
                </span>

                <span id="download-button" title="download">
                    <span class="download menu-button"></span>
                </span>

                <span id="delete-button" title="delete">
                    <span class="delete menu-button"></span>
                </span>

                <span id="duplicate-button" title="duplicate">
                    <span class="duplicate menu-button"></span>
                </span>

                <span id="edit-button" title="edit">
                    <span class="edit menu-button"></span>
                </span>
            </div>

        </div>
        <!-- End of Side Menu -->
        <!-- Side menu pop-ups -->
        <div id="delete-popup" class="menu-popup presentation-menu-popup">
            <div id="delete-close" class="popup-close"></div>
            <span class="popup-header">Delete</span>
            <span class="popup-message">Permanently from your library.</span>
            <span id="cancel-delete" class="popup-button-cancel">Cancel</span>
            <span id="ok-delete" class="popup-button-ok">Delete</span>
        </div>

        <!-- Side menu pop-ups -->
        <div id="delete-popup" class="menu-popup presentation-menu-popup">
            <div id="delete-close" class="popup-close"></div>
            <span class="popup-header">Delete</span>
            <span class="popup-message">Permanently remove from your library.</span>
            <span id="cancel-delete" class="popup-button-cancel">Cancel</span>
            <span id="ok-delete" class="popup-button-ok">Delete</span>
        </div>


        

<link href="//resources.emaze.com/presentationmenu/css/presentation-menus.css?v=V4.0.227.637546142030000000" rel="stylesheet" />

<div id="download-loader" class="loader">
</div>

<div  ng-controller="downloadController" id="download-popup" class="menu-popup presentation-menu-popup">
    <div id="download-close" class="popup-close" ng-click="close()"></div>
    <span class="popup-header">{{header}}</span>
    
    <div class="popup-body">
        <span class="download-introduction" ng-hide="intro==''">{{intro}}</span>
        <div ng-show="downloadLinks.visible" ng-repeat="p in downloadLinks.links" class="download-type">
            <span id="{{'download-btn-'+$index}}" class="download-button" ng-click="p.action()"></span>
            <span class="download-title">{{p.title}}</span>
            <span class="download-description">{{p.description}}</span>
            <span ng-show="p.visible" class="download-link" ng-click="downloadPage()"><span class="link-icon"></span>{{p.link}}</span>
        </div>
        <div ng-show="videoSuccess.visible" class="download-video">
            <span class="text-ok">{{videoSuccess.line1}}</span>
            <span class="text-ok">{{videoSuccess.line2}}<span class="mail">{{email}}</span>.</span>
            <span class="text-ok">{{videoSuccess.line3}}</span>
            <button class="button-ok" ng-click="clickOk()">OK</button>
        </div>
        <div class="download-message" ng-show="downloadMessage.visible">
            <span class="text-ok">{{downloadMessage.textMessage}}</span>
            <span class="picture-container" ng-show="downloadMessage.pictureVisible">
                <span class="pic1"></span>
                <span class="pic2"></span>
                <span class="pic3"></span>
            </span>
            <button class="button-cancel" 
                    ng-show="downloadMessage.buttonCancelVisible"
                    ng-click="downloadMessage.buttonCancelAction()">
                Cancel
            </button>
            <button class="button-ok"
                    ng-click="downloadMessage.buttonOkAction()">
                {{downloadMessage.buttonOkText}}
            </button>
        </div>
        
    </div>
</div>

<script src="//resources.emaze.com/presentationmenu/js/download-popup.js?v=V4.0.227.637546142030000000"></script>

            <div id="duplicate-popup" class="menu-popup presentation-menu-popup">
        <div id="duplicate-close" class="popup-close"></div>
        <span class="popup-header">Duplicate</span>
        <span class="popup-message">Add a copy to your library.</span>
        <span id="cancel-duplicate" class="popup-button-cancel">Cancel</span>
        <span id="ok-duplicate" class="popup-button-ok">Duplicate</span>
    </div>



        <div id="print-popup" class="menu-popup presentation-menu-popup">
            <div id="print-close" class="popup-close"></div>
            <span class="popup-header">Print Presentation</span>
            <span id="landscape-view-btn" class="view-btn-clicked print-view-btn">landscape</span>
            <span id="portrait-view-btn" class="print-view-btn">portrait</span>

            <div class="print-option print-option-1 print-option-clicked" data-preference="1">
            </div>
            <div class="print-option print-option-2" data-preference="2">
            </div>
            <div class="print-option print-option-3" data-preference="3">
            </div>
            <div class="print-option print-option-4" data-preference="4">
            </div>
            <span id="cancel-print" class="popup-button-cancel">Cancel</span>
            <span id="print-pdf-btn" class="popup-button-ok" data-pdf="true" data-href="/print/printPresentation/@AOIWFIOCR" data-adjustment="0">Print pdf</span>
            <span id="ok-print" class="popup-button-ok" data-pdf="false" data-href="/print/printPresentation/@AOIWFIOCR" data-adjustment="0">Print</span>
        </div>


        <!-- iFrame Popups -->
        <div id="newshare-iframe-container" class="iframe-popup-container">
        </div>

        <div id="generic-upgrade-popup" class="upgrade-popup sleep">
            <img src="//resources.emaze.com/mypres/css/images/popup.png" alt="" class="popupImg" />
            <div class="closeBtn">
                <img src="//resources.emaze.com/mypres/css/images/close_btn.png" alt="" onclick="closeUpgradePopup();" />
            </div>
            <div id="upgrade-popup-title" class="popupTitle"></div>
            <div id="upgrade-popup-text" class="popupText"></div>
            <div id="upgrade-popup-btn" class="upgradeBtn"></div>
        </div>

        <div id="pricing-overlay"></div>
        <div id="pricing-iframe-container" class="sleep">
            <iframe id="pricing-iframe" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="" seamless></iframe>
        </div>
        <!-- End of Side menu pop-ups -->
        <!-- Agenda -->
        <div id="sectionsFrame">
            <div id="sectionsClose"></div>
            <div id="sectionsTop">
                <div id="sectionsTitle"></div>
            </div>
            <div id="sectionList" class="vb-scrollbar">
            </div>
        </div>
        <!-- End of Agenda -->

        <div class="pop-container">

            <div class="wrap-pop">

                <a href="//www.emaze.com" target="_blank">
                    <div class="top-logo-bg"></div>
                    <div class="top-logo"></div>
                </a>

                <p class="share-this">share this</p>
                <p class="emazing-presentation">emaze</p>

                <ul class="links">

                    <a onclick="EM.player.sharePopup(610,370,'fb')" title="Facebook">
                        <li style="background: #3b5998;">
                            <div class="icon fb"></div>
                        </li>
                    </a>
                    <a onclick="EM.player.sharePopup(600,368,'tw')" title="Twitter">
                        <li style="background: #55acee;">
                            <div class="icon tw"></div>
                        </li>
                    </a>
                    <a onclick="EM.player.sharePopup(500,350,'gp')" title="Google+">
                        <li style="background: #c24c4a;">
                            <div class="icon gplus"></div>
                        </li>
                    </a>
                    <a onclick="EM.player.sharePopup(600,520,'in')" title="LinkedIn">
                        <li style="background: #007bb6;">
                            <div class="icon ln"></div>
                        </li>
                    </a>
                    <a onclick="EM.player.sharePopup(780,320,'pt')" title="Pinterest">
                        <li style="background: #C72527;">
                            <div class="icon pin"></div>
                        </li>
                    </a>

                    <a href="//www.emaze.com" target="_blank" class="emaze-link">www.emaze.com</a>
                </ul>

                <div class="replay-bg" title="Replay">
                    <div class="replay"></div>
                </div>

            </div>

        </div>

        <div class="compatability-msg hidden">
            <p class="compatability-header">Compatibility Mode</p>
            <p class="compatability-text">This presentation has been simplified to fit your browser.</p>
            <button class="compatability-button">OK</button>
        </div>

        <!-- Errors -->
        <div id="the-error" class="iframe-content">

            <div class="error-inner-container">
                <div class="error-image"></div>
                <div class="error-info">
                    <h1 class="error-header"></h1>
                    <p class="error-text"></p>
                    <button class="close-button">CLOSE</button>
                </div>
            </div>

            <!-- Register/Login -->
            <form id="regform" action="">
                <div class="form-header">
                    <p></p>
                    <div class="close-x"></div>
                </div>

                <p class="description"></p>

                <div class="env"></div>
                <input type="email" name="email" class="username reg" placeholder="Your Email">
                <div class="key"></div>
                <input type="password" name="password" class="password reg" placeholder="Password">
                <input type="submit" name="login" value="Login" class="login">
                <input type="submit" name="signup" value="Signup" class="sign-up">

                <div class="field-validation-error-password"></div>
                <div class="field-validation-error-user"></div>
            </form>

            <!-- Password request for private -->
            <form id="passwordProtected" action="" autocomplete="off">
                <div class="form-header">
                    <p></p>
                    <div class="close-x"></div>
                </div>

                <p class="description"></p>

                <div class="key"></div>
                <input type="text" name="passwordPass" class="passy pseudo-pass" placeholder="Password" autocomplete="off" spellcheck="false">
                <input type="submit" name="submit" value="SHOW" class="gopassgo">

                <div class="field-validation-error-password"></div>
            </form>

            <!-- If user is anonymous, we ask write his email for analytics -->
            <form id="username-analytic" action="">
                <div class="form-header">
                    <p></p>
                    <div class="close-x"></div>
                </div>

                <p class="description"></p>

                <div class="env"></div>
                <input type="email" name="email" class="username analytics" placeholder="Your Email">
                <input type="submit" name="submit" value="SHOW" class="gopassgo">
            </form>

        </div>
        <div id="overlay"></div>
    </div>
    <!-- End Big Block From Sergey -->
    <!-- Le Scripts -->
    <script src="//resources.emaze.com/vbcommon/libs/jquery-ui-1.8.11.min.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbcommon/js/emaze.slide-deck.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbcommon/js/emaze.links_player.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbcommon/js/emaze.slide-options.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbcommon/js/emaze.youtube-player.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbcommon/js/emaze.media_player.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbcommon/js/emaze.graphs.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbcommon/js/emaze.audio.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbcommon/js/emaze.widget-services.js?v=V4.0.227.637546142030000000"></script>


    <script src="//resources.emaze.com/vbcommon/libs/greensock/TweenLite.min.js"></script>
    <script src="//resources.emaze.com/vbcommon/libs/greensock/CSSPlugin.min.js"></script>
    <script src="//resources.emaze.com/vbcommon/libs/greensock/jquery.gsap.min.js"></script>
    <script src="//resources.emaze.com/vbcommon/libs/greensock/ScrollToPlugin.min.js"></script>

    <script src="//resources.emaze.com/vbcommon/js/emaze.transitions_library.js?v=V4.0.227.637546142030000000"></script>


    <script src="//resources.emaze.com/vbplayer/js/vendor/jquery.hammer-full.min.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbplayer/js/emaze.compatibility.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbcommon/js/emaze.parallax-effect.js?v=V4.0.227.637546142030000000" type="text/javascript"></script><!-- use vbplayer/js/emaze.compatibility.js-->
<!-- use vbplayer/js/emaze.compatibility.js-->
    <script src="//resources.emaze.com/vbplayer/js/login-register.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbplayer/js/player.scene-manager.js?v=V4.0.227.637546142030000000"></script>

    <!-- Get presentation Object & set scene -->
    <script src="//resources.emaze.com/vbplayer/js/player-menu.js?v=V4.0.227.637546142030000000"></script>
    <!-- Side menu -->
    <script src="//resources.emaze.com/vbplayer/js/player.js?v=V4.0.227.637546142030000000"></script>
    <script src="//resources.emaze.com/vbplayer/js/player.widgets.js?v=V4.0.227.637546142030000000"></script>
    <!-- Player -->
    <script src="//resources.emaze.com/share/js/share-external.js?v=V4.0.227.637546142030000000"></script>
    <!-- Share -->
    <script src="//resources.emaze.com/analytic/js/analytics-external.js?v=V4.0.227.637546142030000000"></script>
    <!-- Analytics -->
    <script src="//resources.emaze.com/upgrade_popup/js/upgrade_popup.js?v=V4.0.227.637546142030000000"></script>
    <!-- Upgrade popup -->

    <script> EM.player.init('@AOIWFIOCR'); </script>

    <!-- Google Translate Initiation -->
    <script>
        // Remove any previous cookies which were set by Google translate under emaze.com domain
        $.removeCookie('googtrans', { domain: 'emaze.com' });

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false, multilanguagePage: true, gaTrack: true, gaId: 'UA-40859775-1' }, 'google_translate_element');
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- Google Charts Dependencies -->
    <script>
        if (window.google) {
            google.load("visualization", "1", { packages: ['corechart', 'table', 'orgchart'] });
        }
    </script>
    <script src="//resources.emaze.com/vbcommon/js/replaceYoutubeLogos.js?v=V4.0.227.637546142030000000"></script>

</body>
</html>